{{!-- <!DOCTYPE html> --}}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    {{>header}}
    <div class="table-div">

        <table class="styled-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each students}}
                <tr>
                    <form action="/editById/{{id}}">
                    <input type="number" name="byid" value="{{id}}" hidden>
                        <td>{{generatedId}}</td>
                        <td>{{name}}</td>
                        <td>{{surname}}</td>
                        <td>{{username}}</td>
                        <td>{{email}}</td>
                        <td><button  class="upd-btn">Edit</button></td>
                        {{!-- onclick="editStudent({{id}})" --}}
                    </form>
                </tr>
                {{/each}}
            </tbody>
        </table>



        {{!--
        <div class="stu" style="display: flex;">
            <p>{{name}}</p>
            <p>{{surname}}</p>
            <p>{{username}}</p>
            <p>{{email}}</p>
        </div> --}}
    </div>

    {{!-- {{>footer}} --}}
</body>
{{!-- <script>
     function editStudent(studentId) {
            // Fetch code to send PUT request
            fetch(`/search/${studentId}`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                    // You may need to include additional headers if required
                },
                body: JSON.stringify({

                    // Include any data you want to send in the request body
                    // For example: { key: 'value' }
                    id:studentId
                }),
            })
             .then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }

                // Check the content type of the response
                const contentType = response.headers.get('content-type');
                if (!contentType || !contentType.includes('application/json')) {
                    throw new Error('Response is not JSON');
                }

                return response.json();
            })
            .then(data => {
                document.getElementById('result').innerHTML = JSON.stringify(data, null, 2);

                // Handle success response here
                console.log('Edit request successful', data);
            })
            .catch(error => {
                // Handle error here

                console.log('Edit request error', error);
            });
        }
</script> --}}
</html>