<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    {{>header}}

<div class="table-div">

<table class="styled-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Username</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
    {{#each students}}
        <tr>
            <td>{{id}}</td>
            <td>{{name}}</td>
            <td>{{surname}}</td>
            <td>{{username}}</td>
            <td>{{email}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>

{{!-- 
    <div class="stu" style="display: flex;">
        <p>{{name}}</p>
        <p>{{surname}}</p>
        <p>{{username}}</p>
        <p>{{email}}</p>
    </div> --}}
</div>

    {{>footer}}
</body>

</html>