<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    {{!--
    <link rel="stylesheet" href="https://fontawesome.com/icons/magnifying-glass?f=classic&s=solid&pc=%23707070"> --}}
</head>

<body>
    {{>header}}


    <div class="table-div">

        <table class="styled-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each students}}
                <tr class="form-edit">
                    <form action="/update/{{id}}" method="post" > 
                        <td >  <input type="number" name="id" value="{{id}}" ></td>
                        <td> <input type="text" name="name" value="{{name}}" ></td>
                        <td> <input type="text" name="surname" value="{{surname}}" ></td>
                        <td><input type="text" name="username" value="{{username}}" ></td>
                        <td><input type="text" name="email" value="{{email}}" ></td>
                        <td><button class="upd-btn">Update</button></td>
                    </form>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    {{>footer}}


</body>

</html>